<!DOCTYPE html>
<html>
  <head>
    <title>Flappy</title>
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>

  </head>
  <body>

    <div id="wrap">
      <div id="game" class="paused">
        <div id="menu">
          <p>Press P to start GAM. <br> SPACE to flap!</p>
          
        </div>
        <div id="bird"></div>
        <div id="score">Score: 0</div>
        <div id="topscore">Best: 0</div>
      </div>
      <div id="post"></div>
      <div id="info">
        <p>Richard Mitchell<br>RPMitchell1@gmail.com</p>
      </div>
    </div>


    <script src="/javascripts/bird.js" type="text/javascript"></script>
    <script src="/javascripts/baddies.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
  </body>
</html>
