*{margin:0; padding:0;}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#game{
  position: absolute;
  height: 80%;
  width: 40%;
  background-color: rgb(0, 255, 0);
  overflow: hidden;
}

#bird{
  height: 50px;
  width: 50px;
  background-color: #F00;
  position: absolute;
  left: 20%;
  top: 40%;
}

.baddie{
  position: absolute;
  bottom: 0px;
  width: 100px;
  height: 50px;
  background-color: #000;
}

#score{
  position: fixed;
  left: 15px;
  top: 15px;
}

.flap{
  -webkit-transition: top 60ms, -webkit-transform 60ms;
  transition: top 60ms, transform 60ms;
}
