*{margin:0; padding:0;}

body {
  padding: 50px;
  font-family: 'Anton', sans-serif;
  background-color: grey;
}

#wrap{
  position: relative;
  height: 550px;
  width: 700px;
  margin-right: auto;
  margin-left: auto;

}

#post{
  position: absolute;
  height: 350px;
  width: 150px;
  border: 5px solid black;
  background-color: lightgreen;
  overflow: hidden;
  z-index: 2;
  margin-left: 450px;
  text-align: center;
}

#info{
  position: absolute;
  height: 100px;
  width: 150px;
  border: 5px solid black;
  background-color: lightgreen;
  margin-left: 450px;
  margin-top: 400px;
  font-size: 15px;
  text-align: center;
}

#info p{
  position: relative;
  margin-top: 20px;
}

#game{
  border: 5px solid black;
  position: absolute;
  height: 500px;
  width: 400px;
  background-image: url("/images/FB_BG_big.gif");
  background-color: rgb(112, 197, 206);
  overflow: hidden;
}

#menu{
  text-align: center;
  padding-top: 20px;
  display: none;
  height: 100px;
  width: 200px;
  position: absolute;
  margin-left: 23%;
  margin-top: 35%;
  border: 5px solid black;
  background-color: lightgreen;
  z-index: 10;
}

#game.paused #menu{
  display: block;
}

#bird{
  height: 46px;
  width: 60px;
  background-image:url('../images/bird1.png');
  position: absolute;
  left: 30%;
  top: 40%;
}

.baddie{
  position: absolute;
  bottom: 0px;
  width: 100px;
  height: 50px;
  background-color: #000;
}

#score{
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 1em;
}

#topscore{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1em;
}

.flap{
  -webkit-transition: top 60ms, -webkit-transform 60ms;
  transition: top 60ms, transform 60ms;
}
