*{margin:0; padding:0;}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#bird{
  height: 20px;
  width: 20px;
  background-color: #F00;
  position: absolute;
  left: 20%;
  top: 40%;
}

.baddie{
  position: absolute;
  bottom: 0px;
  width: 50px;
  height: 50px;
  background-color: #000;
}

#score{
  position: fixed;
  left: 15px;
  top: 15px;
}
